@page
@model BlogApplication.Pages.Posts.IndexModel

@{
    ViewData["Title"] = "Index";
}

@section Scripts{
    @*<script src="js/blogPage.js" type="text/javascript"></script>*@
}

<h1>Posts</h1>
<p>@Model.Message</p>
@if (Model.Post.Count == 0)
{
    <p>Nothing Here!</p>
}
else
{
    <a asp-page="./Index"  asp-route-sortOrder ="sort" >Sort by Date</a>
}
@foreach (var item in Model.Post)
{
    <div class="row justify-content-center">
        <div class="col-md justify-content-center">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.Content)
                    </h5>
                    @{ var fullname = item.User.CombineNames().ToString(); }
                <h6 class="card-subtitle mb-2 text-muted">
                    @fullname at  @Html.DisplayFor(modelItem => item.CreationDate)
                    @if (item.Blog != null)
                    {
                        <br>
                        <strong>@Html.DisplayFor(modelItem => item.Blog.Name)</strong>
                    }

                </h6>
                </div>
            </div>
        </div>
    </div>
}
<a asp-page="/Posts/UsersByPosts">See User Leaderboard</a>

